<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.umn.holdthemout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".WinActivity"></activity>
        <activity android:name=".HowToPlayActivity" />
        <activity
            android:name=".LevelFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreLevelFourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GlobalHighScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HighScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreLevelOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profil_Samuel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profil_Nataya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profil_Wisnu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profil_Neven"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreLevelTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreLevelThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LevelThreeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>